@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --font-sans: "Geist", sans-serif;
  --color-bg: hsl(0, 0%, 2%);
  --color-surface: hsl(0, 0%, 4%);
  --color-border: hsl(0, 0%, 10%);
  --color-textmute: hsl(0, 0%, 50%);
  --color-text: hsl(0, 0%, 90%);
  --color-delete: hsl(0, 100%, 25%);
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-bg text-text font-sans;
}

input,
textarea {
  @apply bg-surface border-border w-full rounded-lg border p-4 font-medium;
}

button {
  @apply cursor-pointer font-bold;
}
